body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
  font-size: 1.2rem;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

.container{
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.note.new{
  background-color: rgb(228, 228, 228);
  
}

textarea{
  border: none;
  resize: none;
  background-color: rgb(228, 228, 228);
  font-size: 1.1rem;
}

.toggle{
  background-color: rgb(233, 233, 233);
  border: none;
  border-radius: 30px;
  padding: 8px;
  width: 40px;
  
}

.toggle:hover{
  cursor: pointer;
}

.logo{
  font-size: 1.3rem;
  font-weight: bolder;
}


.save{
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-weight: bolder;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.save:hover{
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

textarea:focus{
  outline: none;
}

.note {
  background-color: rgb(255, 255, 170) ;
  margin-bottom: 10px;
  border-radius: 10px;
  border-top-right-radius:30px;
  border-bottom-right-radius:15px;
  border-bottom-left-radius:10px;
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*white-space: pre-wrap; means if you save a text with space in between it will allows it*/
  white-space: pre-wrap;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon{
  cursor: pointer;
  color: #ff0000 ;
}

.logo-save{
  font-size: 1.2rem;
  
}
.search{
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5rem;
}

.search input{
  border: none;
  background-color: rgb(233, 233, 233);
}

.search input:focus{
  outline: none;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode{
  background-color: black;
  transition: 1s;
}
.dark-mode h1{
  color: white;
  transition: .5s;
}

.button{
  background-color: #ffda45;
  width:40px;
  height: 40px;
  
}

.light-mode{
  background-color: #f6f6f6;
  transition: .5s;
}

